<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dish Id Info</title>
    </head>


    <body>
        <a href="/">Home</a>
        <h1>@Model.Name</h1>
        <h3>@Model.Chef</h3>
        <p>@Model.Description</p>
        <p><span>Calories:</span>@Model.Calories</p>
        <p><span>Tastiness:</span>@Model.Tastiness</p>

        <a href="/edit/@Model.DishId">Edit</a>
        <a href="/destroy/@Model.DishId">Delete</a>

        
    </body>
</html>